[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spidev = "*"
numpy = "*"
pillow = "*"
bottle = "*"
imageio = "*"
freetype-py = {editable = false, ref = "7bf07468787f58bcb8b4f6f75b8bc289fdbddb3d", git = "https://github.com/mammo0/freetype-py.git"}
simple-plugin-loader = "*"
apscheduler = "*"
astral = "*"
tzlocal = "*"

[dev-packages]
pygame = "*"
