[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spidev = "*"
numpy = "*"
pillow = "*"
bottle = "*"
imageio = "*"
freetype-py = {editable = true, git = "https://github.com/mammo0/freetype-py.git@a67acdd4d2784457c1a98d5514b310846a1672ef"}

[dev-packages]
pygame = "*"
