[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spidev = "*"
numpy = "*"
pillow = "*"
bottle = "*"
imageio = "*"
freetype-py = {editable = false, ref = "d5a95adaba97e736ab810ec4387f156b29854241", git = "https://github.com/mammo0/freetype-py.git"}
simple-plugin-loader = "*"
apscheduler = "*"
astral = "*"
tzlocal = "*"

[dev-packages]
pygame = "*"
