/* overwrite font path for bootstrap icons */
@import url("./bootstrap-icons.css");
@font-face {
  font-family: "bootstrap-icons";
  src: url("/fonts/bootstrap-icons.woff") format("woff"),
url("/fonts/bootstrap-icons.woff2") format("woff2");
}


/* fix line height for bootstrap icons */
.icon::before{
    line-height: 1.25rem !important;
}


/* a class for lists with bootstrap icons as bullets */
.bullet-list li{
    display: block;
}
.bullet-list li::before{
    /* define the position of the bullet */
    font-family: bootstrap-icons !important;
    float: left;
    line-height: 1.66rem !important;
    margin-left: -1.5em;
}
